[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/singnata
[access "refs/for/refs/*"]
	read = group user/singnata
	push = group user/singnata
	label-Code-Review = -2..+2 group user/singnata
	label-Verified = -1..+1 group user/singnata
	rebase = group user/singnata
	removeReviewer = group user/singnata
	submit = group user/singnata
[access "refs/heads/*"]
	read = group user/singnata
	create = group user/singnata
	push = +force group user/singnata
	pushMerge = group user/singnata
[access "refs/tags/*"]
	push = group user/singnata
	push = +force group user/singnata
